.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.centerCity {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  select {
    font-size: 16px;
  }
}

.ocean {
  fill: #f2fffe;
}

.countries {
  fill: #f5deb3;
  stroke: #999;
}

.distanceCircle {
  text-anchor: middle;
  fill: darkred;
  opacity: 0.5;
  font-weight: bold;

  path {
    fill: none;
    //stroke: #888;
    stroke: darkred;
    stroke-width: 0.5;
    stroke-opacity: 0.5;
  }

  text {
    cursor: pointer;
  }
}

.distanceCircle.active {
  path {
    stroke: darkred;
    stroke-width: 2.5;
  }
}

.cityPoint {
  circle {
    fill: darkred;
    opacity: 0.5;
  }

  text {
    alignment-baseline: middle;
    cursor: pointer;
  }

  &.connected circle {
    fill: black;
    opacity: 1;
  }

  &.hoveredCity circle {
    fill: #963767;
    cursor: pointer;
    opacity: 1;
  }

  &.active {
    circle {
      fill: #963767;
      opacity: 1;
    }
    text {
      font-weight: bold;
    }
  }
}

.connectingPath {
  fill: none;
  stroke: #01015b;
  stroke-width: 0.25;
  stroke-opacity: 0.2;
}

.radiatingPath {
  fill: none;
  stroke: #aaa;
  stroke-width: 0.5;
  stroke-opacity: 0.25;
}

.hoveredCityPath {
  path {
    fill: none;
    stroke: #444;
    stroke-width: 1;
    stroke-opacity: 0.5;
  }
}
